/** Easy Tree style */
.easy-tree {
    min-height: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-top: none;
    border-right: none;
}

.easy-tree > ul {
    padding-left: 0;
}

.easy-tree li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    border-top: 1px solid #ddd;
    line-height: 21px;
    cursor: pointer;
}


.easy-tree li::before, .easy-tree li::after {
    left: -30px;
    position: absolute;
    right: auto;
}

.easy-tree li::before {
    border-left: 1px solid #fff;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px;
}

.easy-tree li::after {
    border-top: 1px solid #fff;
    height: 20px;
    top: 25px;
    width: 35px;
}

.easy-tree li > span {
    border: 1px solid #fff;
    border-radius: 3px;
    display: block;
    padding: 10px 5px 5px 5px;
    text-decoration: none;
}

.easy-tree li.parent_li > ul{
    padding-left: 0;
}

.easy-tree li.parent_li > ul li span{
    /*padding-left: 30px;*/
}

.easy-tree li.parent_li > span {
    cursor: pointer;
}


.easy-tree > ul > li::before, .easy-tree > ul > li::after {
    border: 0;
}

.easy-tree li:last-child::before {
    height: 30px;
}

.easy-tree li > span:hover{
    background: #5bc0de;
    color: #fff;
}


.easy-tree li > span > a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    text-overflow : ellipsis; 
    white-space : nowrap; 
    overflow : hidden; 
}

.easy-tree li > span > span.glyphicon-folder-close, .easy-tree li > span > span.glyphicon-folder-open {
    margin-right: 5px;
}

.easy-tree li.li_selected > span, .easy-tree li.li_selected > span > a {
    background: #e5e2e1;
    color: #e56155;
}

.easy-tree li.li_selected > span:hover, .easy-tree li.li_selected > span:hover > a {
    background: #fafafa;
    color: #ff6c60;
}

.easy-tree .easy-tree-toolbar {
    background-color: #fff;
}

.easy-tree .easy-tree-toolbar > div {
    display: inline-block;
}

.easy-tree .easy-tree-toolbar > div > button {
    border-radius: 0;
    margin: 20px 5px;
}

.easy-tree .easy-tree-toolbar .create .input-group {
    top: -15px;
    margin-left: 5px;
    margin-right: 5px;
}

.easy-tree .easy-tree-toolbar .create .input-group input {
    border-radius: 0;
}

.easy-tree .easy-tree-toolbar .create .input-group button {
    border-radius: 0;
}

.glyphicon{
    vertical-align: 13px;
}

.glyphicon-folder-open:before,.glyphicon-file:before,.glyphicon-folder-close:before {
    content: "";
}
.glyphicon-folder-open,.glyphicon-folder-close{
    display: inline-block;
    height: 0;
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    border-right-width: 0;
    border-left-color: #666666;
    border-left-style: solid;
    margin-right: 10px;
    margin-left: 5px;
    vertical-align: 6px;
}

.delegate .glyphicon-folder-open{
    border-width: 6px;
    border-style: dashed;
    border-color: transparent;
    border-bottom-width: 0;
    border-top-color: #666666;
    border-top-style: solid;
    margin-left: 0;
    vertical-align: 7px;
}

.glyphicon-file{
    vertical-align: 6px;
}